<h1>wanna login?</h1>

<div class = "form">
<div *ngIf = "!logged" class = "login">
    <div>
        <input type='text' [(ngModel)]="username" placeholder = "login" required class="inp">
    </div>
    <div>
        <input type='text' [(ngModel)]="password" placeholder = "password" required class = "inp">
    </div>
    <div id="btn">
        <button (click)="auth()">login</button>
    </div>
</div> 



<div class = "regform">
    <div *ngIf = "!logged && !registered">
        <div>
            <input type='text' [(ngModel)]="regusername" placeholder = "login" required class="inp">
        </div>
        <div>
            <input type='text' [(ngModel)]="name" placeholder = "name" required class="inp">
        </div>
        <div>
            <input type='text' [(ngModel)]="phone" placeholder = "phone" required class="inp">
        </div>
        <div>
            <input type='text' [(ngModel)]="regpassword" placeholder = "password" required class="inp">
        </div>
        <div id="btn">
            <button (click)="register()">sign up</button>
        </div>
    </div>
</div>

<div class="wrapper" *ngIf="logged">
  <h1 class="header">hello!</h1>
  <h2>please, leave your info to book a table</h2>
  <div>
    <input type='text' [(ngModel)]="name" placeholder = "name" required class="inp">
</div>
<div>
    <input type='text' [(ngModel)]="phone" placeholder = "phone" required class="inp">
</div>
    <div>
        <input type='datetime-local' [(ngModel)] = "date">
    </div>
    <button (click)="makeRes()">book</button>
  <button (click)="logout()">Logout</button>
</div>
<!-- <div *ngIf = "!registered" class = "signup">
    <div>
        <input type='text' [(ngModel)]="reglogin" id="reg_login" placeholder = "login" required class = "inp">
    </div>
    <div>
        <input type='text' [(ngModel)]="name" id="name" placeholder = "name" required class = "inp">
    </div>
    <div>
        <input type='text' [(ngModel)]="phone" id="phone" placeholder = "phone" required class = "inp">
    </div>
    <div>
        <input type='text' [(ngModel)]="regpassword" id="reg_pw" placeholder = "password" required class = "inp">
    </div>
    <div id="btn">
        <button (click)="register()" class="btn btn-dark">register</button>
    </div>
</div> -->
<!-- 
<div *ngIf="logged">
    <div>
        <button (click)="logout()" class="btn btn-dark">logout</button>
    </div>
</div>
</div> -->
