body{
    margin: -22px;
    font-family: "Helvetica", sans-serif;
    overflow: hidden;
}
.header{
    max-width: 100%;
    height: 75px;
    background-color: black;
    margin: 0;
    padding: 22px;
    
}
#head{
    color: gray;
    margin: 0 auto;
    position: relative;
    margin-left: 150px;
    margin-top: 35px;
    font-weight: 100;
}
.main{
    max-width: 1080px;
    margin: auto;
    position: relative;
    top: 150px;
}
h1{
    font-weight: 300;
    margin: 50px;
}
#new-task{
    width: 70%;
    height: 30px;
    border-radius: 5px;
    -webkit-appearance: none;
    border: 1px solid gray;
    padding-left: 20px;
    font-size: 15px;
}
#inp{
    text-align: center;
}
#add{
    background-color: rgb(26, 115, 232);
    height: 35px;
    width: 50px;
    -webkit-appearance: none;
    border-radius: 5px;
    border: 0;
    color: white;
    margin-left: 30px;
}
ul{
    list-style: none;
}
li{
    border : 1px solid gray;
    border-radius: 5px;
    padding: 15px;
    font-size: 15px;
    cursor: pointer;
}

.delete{
    color: #fff;
    cursor: pointer;
}
.fa-trash-alt{
    color: red;
    float: right;
}
a{
    float: right;
    cursor: pointer;
    margin-top: 50px;
}